<style type="text/css">
	.about-container{
		padding-top: 0px;
	}
	.right-col{

	}
	.row .col-sm-6{
		min-height: 500px;
	}
	.img-fluid{
		height: auto;
		width: 100%;
	}
	.right-col p{
		/*text-align: justify;*/
	}
	.right-col h2{
		text-align: center;
	}
	.lower-row{
		margin-bottom: 50px;
	}
	.about-copy{
		text-indent: 50px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: bold;
		/*text-align: justify;*/
		font-size: 16px;
		color: #777;
	}
	.me{
		text-align: center;
		font-style: italic;
		font-weight: bold;
		color: #e8e5fc;
		font-size: 62px;
	}
	.about-nav{
		font-style: italic;
	}
</style>
<div class="container-fluid about-container lower-cont">
	<div class="row me-row desktop-bot">
		<div class="col-sm-8">
		</div>
		<div class="col-sm-4">
			<h1 class="me">me.</h1>
		</div>
	</div>
	<div class="row lower-row desktop-bot">
		<div class="col-sm-8 right-col">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8">
				<p class="about-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim arcu odio, posuere elementum quam mattis at. Ut congue vel nisi eu scelerisque. Sed at blandit orci. In non mauris lectus. Ut vitae nisl quis felis tincidunt laoreet vitae id justo. Curabitur vulputate mattis erat, eget efficitur ex fermentum ac. Mauris efficitur enim aliquet purus euismod fermentum. Phasellus a felis in ex imperdiet luctus at id libero. Donec sem quam, vestibulum a ligula a, congue finibus eros. Sed ullamcorper enim ligula, non mollis massa tincidunt ac. Morbi eu mi pharetra, porta nibh et, gravida augue. Etiam ut lorem sit amet diam volutpat mollis. Etiam hendrerit arcu ac rhoncus porta. Aliquam mollis sit amet turpis vitae porta. Cras commodo augue eget ante tincidunt vehicula. Morbi vitae libero pellentesque, volutpat orci ut, fermentum quam.</p>

				<p class="about-copy">Donec facilisis eros vitae dignissim interdum. Donec ante ante, fringilla eget feugiat id, vulputate at elit. Vivamus nec metus quam. Ut at ex nisl. Cras dapibus libero at semper tincidunt. Nunc accumsan, velit sed volutpat faucibus, lectus nisi varius tellus. ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi.</p>

				<p class="about-copy">Aliquam erat volutpat. Sed porttitor est et tincidunt lobortis. Nulla nisl felis, viverra dictum tincidunt ut, aliquam ac nisi. Phasellus lobortis turpis eget felis semper malesuada. Donec sollicitudin purus tortor, in hendrerit ante rutrum a. Sed vitae nisi mauris. Morbi quis semper est. Proin egestas laoreet massa vel pharetra. Maecenas ac magna eu ligula feugiat pellentesque. Sed eleifend arcu eget eros lobortis, sit amet suscipit magna porttitor.</p>
			</div>
			<div class="col-sm-2">
			</div>
		</div>
		<div class="col-sm-4">
			<%= image_tag('HeadshotGIF.gif', class: "img-fluid") %>
		</div>
	</div>
	<div class="row me-row mobile-bot">
		<div class="col-sm-8">
		</div>
		<div class="col-sm-4">
			<h1 class="me">me.</h1>
		</div>
	</div>
	<div class="row lower-row mobile-bot">
		<div class="col-sm-4">
			<%= image_tag('HeadshotGIF.gif', class: "img-fluid") %>
		</div>
		<div class="col-sm-8 right-col">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8">
				<p class="about-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim arcu odio, posuere elementum quam mattis at. Ut congue vel nisi eu scelerisque. Sed at blandit orci. In non mauris lectus. Ut vitae nisl quis felis tincidunt laoreet vitae id justo. Curabitur vulputate mattis erat, eget efficitur ex fermentum ac. Mauris efficitur enim aliquet purus euismod fermentum. Phasellus a felis in ex imperdiet luctus at id libero. Donec sem quam, vestibulum a ligula a, congue finibus eros. Sed ullamcorper enim ligula, non mollis massa tincidunt ac. Morbi eu mi pharetra, porta nibh et, gravida augue. Etiam ut lorem sit amet diam volutpat mollis. Etiam hendrerit arcu ac rhoncus porta. Aliquam mollis sit amet turpis vitae porta. Cras commodo augue eget ante tincidunt vehicula. Morbi vitae libero pellentesque, volutpat orci ut, fermentum quam.</p>

				<p class="about-copy">Donec facilisis eros vitae dignissim interdum. Donec ante ante, fringilla eget feugiat id, vulputate at elit. Vivamus nec metus quam. Ut at ex nisl. Cras dapibus libero at semper tincidunt. Nunc accumsan, velit sed volutpat faucibus, lectus nisi varius tellus. ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi.</p>

				<p class="about-copy">Aliquam erat volutpat. Sed porttitor est et tincidunt lobortis. Nulla nisl felis, viverra dictum tincidunt ut, aliquam ac nisi. Phasellus lobortis turpis eget felis semper malesuada. Donec sollicitudin purus tortor, in hendrerit ante rutrum a. Sed vitae nisi mauris. Morbi quis semper est. Proin egestas laoreet massa vel pharetra. Maecenas ac magna eu ligula feugiat pellentesque. Sed eleifend arcu eget eros lobortis, sit amet suscipit magna porttitor.</p>
			</div>
			<div class="col-sm-2">
			</div>
		</div>
	</div>
</div>