<!-- 1. Link to jQuery (1.8 or later), -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

<!-- fotorama.css & fotorama.js. -->
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
<style type="text/css">
	.gallery-container{
		padding-top: 15px !important;
	}
</style>
<div class="container gallery-container">
	<div class="row">
		<div class="col-sm-2">
		</div>
			<div class="foto-col col-sm-8">
				<div class="fotorama" data-height="500" data-nav="thumbs">
				  <img src="http://s.fotorama.io/1.jpg">
				  <img src="http://s.fotorama.io/2.jpg">
				</div>
			</div>
		<div class="col-sm-2">
		</div>
	</div>
</div>