<style type="text/css">
	.video-container{
		padding-top: 0px;
		/*background-color: #f0e3f1;*/
		margin-top: 120px;
	}
	.row .col-sm-12{
		min-height: 550px;
		text-align: center;
		padding-top: 25px;
	}
	.learn{
		text-align: center;
		font-style: italic;
		font-weight: bold;
		color: #fae2e4;
		font-size: 62px;
	}
	iframe{

	}
	.videos-nav{
		font-style: italic;
	}
	.lower-row{
		margin-bottom: 50px;
		/*margin-top: 120px;*/
	}
</style>
<div class="container video-container lower-cont">
	<div class="row learn-row">
		<div class="col-sm-8">
		</div>
		<div class="col-sm-4">
			<h1 class="learn">learn.</h1>
		</div>
	</div>
	<div class="row lower-row">
		<div class="col-sm-12">
			<iframe width="660" height="368" src="https://www.youtube.com/embed/videoseries?list=PLHASmH2-sMx_bTJQcx76uB937nqV6bI12&showinfo=1" frameborder="0" gesture="media" allowfullscreen></iframe>
		</div>
	</div>
</div>