<style type="text/css">
	.video-container{
		padding-top: 0px;
		background-color: #f0e3f1;
	}
	.row .col-sm-12{
		min-height: 550px;
		text-align: center;
		padding-top: 25px;
	}
	iframe{}
</style>
<div class="container video-container">
	<div class="row">
		<div class="col-sm-12">
			<iframe width="800" height="500" src="https://www.youtube.com/embed/7z3Xk8dkpxo" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>