<!DOCTYPE html>
<html>
  <head>
    <title>The Beverly Hills Organizer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Fanwood+Text|Lora|Montserrat|Quattrocento|Roboto|Source+Sans+Pro" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		.upper-nav{
			height: 50px;
			text-align: center;
			background-color: #fdf2e9;
		}
		.logo{
			margin-bottom: 15px;
			font-family: 'Quattrocento', serif;
			/*font-size: 18px;*/
			font-weight: bold;
			color: black;
			font-size: 22px;
			margin-top: 15px;
		}
		.shopping{
			position: absolute;
		    top: 20px;
		    right: 15px;
		    font-size: 18px;
		}
		.navbar{
			background: white;
		    box-shadow: none;
		    border: none;
		    margin-bottom: 0px;
		}
		.nav li{
			font-family: 'Source Sans Pro', sans-serif;
			/*margin: 0px 20px;*/
		}
		.footer-container{
			padding-top: 20px;
			padding-bottom: 15px;
			width: 100%;
			margin-left: 15px;
		}
		.fa{
			margin: 0px 20px;
		}
		.copyright{
			float: right;
			margin-top: 10px;
			margin-right: 45px;
			font-family: 'Source Sans Pro', sans-serif;
		}
		a{
	      -moz-transition: all 0.4s;
	      -webkit-transition: all 0.4s;
	      transition: all 0.4s;
		}
		.btn{
	      -moz-transition: all 0.4s;
	      -webkit-transition: all 0.4s;
	      transition: all 0.4s;
		}
	a{
		color: #777;
	}
	a:hover{
		text-decoration: none;
		color: black;
	}
.btn-contact { 
  color: #8F8F8F; 
  background-color: #FFFFFF; 
  border-color: #C4C4C4; 
} 
 
.btn-contact:hover, 
.btn-contact:focus, 
.btn-contact:active, 
.btn-contact.active, 
.open .dropdown-toggle.btn-contact { 
  color: #8F8F8F; 
  background-color: #ffe0e3; 
  border-color: #C4C4C4; 
} 
 
.btn-contact:active, 
.btn-contact.active, 
.open .dropdown-toggle.btn-contact { 
  background-image: none; 
} 
 
.btn-contact.disabled, 
.btn-contact[disabled], 
fieldset[disabled] .btn-contact, 
.btn-contact.disabled:hover, 
.btn-contact[disabled]:hover, 
fieldset[disabled] .btn-contact:hover, 
.btn-contact.disabled:focus, 
.btn-contact[disabled]:focus, 
fieldset[disabled] .btn-contact:focus, 
.btn-contact.disabled:active, 
.btn-contact[disabled]:active, 
fieldset[disabled] .btn-contact:active, 
.btn-contact.disabled.active, 
.btn-contact[disabled].active, 
fieldset[disabled] .btn-contact.active { 
  background-color: #FFFFFF; 
  border-color: #C4C4C4; 
} 
 
.btn-shop { 
  color: #000000; 
  background-color: #f2d7e3; 
  border-color: #f2d7e3; 
} 
 
.btn-shop:hover, 
.btn-shop:focus, 
.btn-shop:active, 
.btn-shop.active, 
.open .dropdown-toggle.btn-shop { 
  color: #000000; 
  background-color: #f2d7e3; 
  border-color: #f2d7e3; 
} 
 
.btn-shop:active, 
.btn-shop.active, 
.open .dropdown-toggle.btn-shop { 
  background-image: none; 
} 
 
.btn-shop.disabled, 
.btn-shop[disabled], 
fieldset[disabled] .btn-shop, 
.btn-shop.disabled:hover, 
.btn-shop[disabled]:hover, 
fieldset[disabled] .btn-shop:hover, 
.btn-shop.disabled:focus, 
.btn-shop[disabled]:focus, 
fieldset[disabled] .btn-shop:focus, 
.btn-shop.disabled:active, 
.btn-shop[disabled]:active, 
fieldset[disabled] .btn-shop:active, 
.btn-shop.disabled.active, 
.btn-shop[disabled].active, 
fieldset[disabled] .btn-shop.active { 
  background-color: #f2d7e3; 
  border-color: #f2d7e3; 
} 
 
.btn-shop .badge { 
  color: #f2d7e3; 
  background-color: #000000; 
}

.btn-contact .badge { 
  color: #FFFFFF; 
  background-color: #8F8F8F; 
}

.color-5{
	background-color: #fdf2e9;
}
.lower-cont{
	margin-top: 170px;
	min-height: 715px;
}
.btn-shop{
	font-family: 'Lora', serif;
	font-weight: bold;
	font-style: italic;
	float: right;
	margin-top: 5px;
}
.linda{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-style: italic;
    display: inline-block;
    margin: 0px auto;
    /*text-align: center;*/
    margin-top: 5px;
    color: #777;
}
.linda-col{
	text-align: center;
}
.navbar-collapse{
	padding-top: 5px;
}
.navbar-toggle{
	background-color: #fdf2e9;
    border: 1px solid #777;
    position: absolute;
    top: 0px;
    right: 0px;
}
.icon-bar{
	background-color: #777;
}
.mobile-bot{
	display: none;
}
@media only screen and (max-width : 767px) {
	.desktop-bot{
		display: none;
	}
	.mobile-bot{
		display: block;
		text-align: center;
	}
	.btn-shop{
		float: unset;
		margin: 15px auto;
		display: block;
		text-align: center;
	}
	.linda-col{
		margin-top: 5px;
	}
	.fa{
		margin: 0px 10px;
	}
	.copyright{
		margin-right: 10px;
	}
	.navbar-toggle{
		padding: 7px;
		margin-right: 5px;
		margin-top: 10px;
	}
	.footer-container{
		margin-left: 0px;
	}
	.navbar-toggle .icon-bar {
	    display: block;
	    width: 15px;
	}
	.videos-nav{
		padding-top: 0px;
	}
	.navbar-collapse{
		text-align: right;
	}
	.logo{
		font-size: 18px;
	}
}
.wrapper{
	overflow-x:hidden;
}
	</style>
  </head>

  <body>
  <div class="wrapper">
      <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
        <div class="upper-nav row">
        	<div class="col-sm-4">
        	</div>
        	<div class="col-sm-4">
	        	<a href="/"><h3 class="logo">The Beverly Hills Organizer</h3></a>
	        </div>
	        <div class="col-sm-4">
	        </div>
        </div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
	        <div class="col-sm-12 linda-col mobile-bot">
	            <h2 class="linda">Linda Koopersmith</h2>
	          	<button class="btn btn-shop">Shop Products</button>
	        </div>
          <div id="navbar" class="navbar-collapse collapse">
          	<div class="col-sm-4">
	            <ul class="nav navbar-nav" data-no-turbolinks="true">
	              <li class="videos-nav"><a href="/videos">Videos</a></li>
	              <li class="gallery-nav"><a href="/gallery">Gallery</a></li>
	              <li class="about-nav"><a href="/about">About</a></li>
	              <li class="contact-nav"><a href="/contact">Contact</a></li>
	            </ul>
	        </div>
	        <div class="col-sm-4 linda-col desktop-bot">
	            <h2 class="linda">Linda Koopersmith</h2>
	        </div>
	        <div class="col-sm-4 desktop-bot">
	          	<button class="btn btn-shop">Shop Products</button>
	        </div>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    <%= yield %>
    <footer class="footer color-5">
      <div class="container footer-container">
        <p class="text-muted"><a href="#"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a><span class="copyright">&copy; 2017 Linda Koopersmith</span></p>
      </div>
    </footer>
  </div>
  </body>
</html>
